#NomicsAPI is being added to the .gitignore after initilization, do not push API keys to repo!
.env
__pycache__
notes.txt

#ignore data for now during development
/data/json_raw/**
/data/df_raw/**
/data/backtest_graphics/**
#MessAround file is a main to play with python code before implementation
MessAround.py

#Handling empty data folders
!/data/json_raw/.gitkeep
!/data/df_raw/.gitkeep


